.footer-content {  height: 20%; background-color: #292b2c; vertical-align: bottom;text-align: center;padding-top: 1%}
.footer-content .footer-help{  color: #ffffff;}
.footer-content .footer-help span{color: #32A7B8}